*** Settings ***
Documentation    Shared keywords for {{ project_name }}
Library          SeleniumLibrary
Resource         variables.robot

*** Keywords ***
Open Browser To Base Url
    Open Browser    ${BASE_URL}    ${BROWSER}
    Maximize Browser Window

Close Browser Session
    Close Browser
